@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100 700;
  font-stretch: 75% 100%;
  font-display: swap;
  size-adjust: 104%;
  src: url('../../assets/fonts/IBMPlexSans-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Euro Caps';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-feature-settings: 'kern' 0;
  size-adjust: 125%;
  src: url('../../assets/fonts/Euro-Caps.ttf') format('truetype');
}
